#navBut {
    border-radius: 0.5rem;
}

#home {
    background: url("media/house1.jpg") bottom center/cover no-repeat;
    min-height: 100vh;
    position: relative;
}

#home #header {
    z-index: 0;
}

#home #header .display-5 {
    font-weight: bold;
}

#home #overlay {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#par {
    line-height: 2.5rem;
}

.w-100 {
    height: 800px;
    width: 50px;
}

.bx:hover {
    color: blue;
    transition: 0.3s;
}

#socialNav {
    height: 2rem;
}

.card {
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-img-top {
    border-radius: 1rem;
}
